* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
}

.gris {
	background: rgba(207, 207, 207, .5);
}

.top-nav-collapse {
	background: rgba(207, 207, 207, 0.900) !important;
}

a.navbar-brand {
	width: 25%;
}

a.navbar-brand img {
	width: 100%; 
	min-width: 200px;
}

.navbar .nav-item a {
	overflow: hidden;
}

button#btndatospersonales {
	overflow: hidden;
} 

#proyectos, #contacto {
	overflow: auto;
}

.main-header {
	position: relative;
	background: url(../images/background.jpg) no-repeat;
	background-size: cover;
	height: 100vh;
}

.background-overlay {
	position: absolute;
	background: rgba(0, 120, 255,.4);
	top: 0;
	left: 0; 
	width: 100%;
	height: 100%;
}

.minh-100 {
	height: 100vh;
}

.form-control, .btn {
	border-radius: 0;
}

#datos-personales {
	width: 100%;
}

.proyectos, footer {
	background: #3594ff;
}

span.negrita {
	font-weight: bold;
}

.nav-link-hover:hover {
	box-shadow: 2px 2px #ccc;
	border-radius: 0 0 30% 0;
}

.animation-cards {
	transition: transform 0.5s;
}

.animation-cards:hover {
  	transform: rotate(10deg);
}

.py-6 {
	padding: 130px 0;
}

.redes img {
	max-width: 10%;
}

.redes img:hover {
	box-shadow: 5px 5px 5px #ccc;
}

.img-proyect {
  	position: relative;
  	background-color: rgba(0, 0, 0, 0.8);
  	overflow: hidden;
}

.img-proyect img {
  	display: block;
  	margin: 0 auto;
}

.img-proyect .titulo {
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	color: transparent;
}

.img-proyect a:hover img {
	transform:scale(1.05);
	transition:all .3s ease-in-out;
	opacity: 0.5;
}

.img-proyect a:hover .titulo {
	transition:all .3s ease-in-out;
  	color: #FFF;
  	text-shadow: 1.5px 1.5px #CCC;
  	z-index: 1;
}

.aparece {
	opacity: 0;
	transition: all 0.5s;
}